<%= content_for :banner do %>
  <%= image_tag "email/4.png", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
<% end %>

<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td colspan="7" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td>
        <p style=" font-family: 'Montserrat', sans-serif; text-align:left; font-size:15px;color:#505050;line-height:22px;font-weight:400;margin:0px;padding:0px;">
          Hello, <br><br>
          There was an error trying to pay for order <%= link_to @order.retailer_shopify_name, retailer_order_details_url(@order.internal_identifier), target: '_blank' %> automatically. The error log is:
        </p>
        <p><%= @error_msg %></p>
        <p></p>
      </td>
      <td width="6%">
      </td>
    </tr>
    <tr>
      <td colspan="2" height="30">
      </td>
    </tr>
    <tr>
      <td width="6%">
      </td>
      <td style=" background-color:#4f4dfc; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px; ">
       <a href="<%= retailer_order_details_url(@order.internal_identifier) %>" target="_blank" style="color: #fff;text-decoration: none;font-weight: 600;display: block;">VIEW ORDER</a>
     </td>
     <td width="6%">
     </td>
   </tr>
   <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
</tbody >
</table>
