<% content_for :title, "Dashboard " %>
<% content_for :main_menu, Hingeto::Section::HOME %>

<body class="animsition ecommerce_dashboard">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "shared/side_menu" %>
<%= render "shared/grid_menu" %>

<!-- Page -->
<div class="page index_two">
  <div class="page-header">
    <!--<h1 class="page-title font-size-26 font-weight-100">Ecommerce Overview</h1>-->
  </div>

  <div class="page-content container-fluid">

    <%= render "shared/credit_card_check" %>


    <%= render "shared/time_period" %>

    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <!-- First Row -->
      <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-warning">
              <i class="icon wb-order"></i>
            </button>
            <span class="m-l-15 font-weight-400">ORDERS</span>
            <div class="content-text text-xs-center m-b-0">
              <i class="text-danger icon wb-triangle-up font-size-20">
              </i>
              <span class="font-size-40 font-weight-100">399</span>
              <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-danger">
              <i class="icon fa-dollar"></i>
            </button>
            <span class="m-l-15 font-weight-400">REVENUE</span>
            <div class="content-text text-xs-center m-b-0">
              <i class="text-success icon wb-triangle-down font-size-20">
              </i>
              <span class="font-size-40 font-weight-100">$18,628</span>
              <p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-success">
              <i class="icon wb-tag"></i>
            </button>
            <span class="m-l-15 font-weight-400">PRODUCTS</span>
            <div class="content-text text-xs-center m-b-0">
              <i class="text-danger icon wb-triangle-up font-size-20">
              </i>
              <span class="font-size-40 font-weight-100">500</span>
              <p class="blue-grey-400 font-weight-100 m-0">+25% From previous month</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-primary">
              <i class="icon wb-user"></i>
            </button>
            <span class="m-l-15 font-weight-400">CUSTOMERS</span>
            <div class="content-text text-xs-center m-b-0">
              <i class="text-danger icon wb-triangle-up font-size-20">
              </i>
              <span class="font-size-40 font-weight-100">4,367</span>
              <p class="blue-grey-400 font-weight-100 m-0">+25% From previous month</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End First Row -->

      <div class="col-xl-12 col-md-12 col-xs-12 info-panel">
        <div class="alert dark alert-icon alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="icon wb-tag" aria-hidden="true"></i> 12 products have errors that need your attention.
          <p class="m-t-15">
            <button class="btn btn-danger btn-inverse" type="button">View Products</button>
            <!--<button class="btn btn-link blue-grey-500" type="button">Or this</button>-->
          </p>
        </div>
      </div>

      <div class="col-xl-12 col-md-12 col-xs-12 info-panel">
        <div class="alert dark alert-icon alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="icon wb-order" aria-hidden="true"></i> 31 Orders need to be shipped!
          <p class="m-t-15">
            <button class="btn btn-danger btn-inverse" type="button">View Orders</button>
            <!--<button class="btn btn-link blue-grey-500" type="button">Or this</button>-->
          </p>
        </div>
      </div>

      <div class="col-xs-12 info-panel">
        <div class="card card-shadow">
          <div class="card-block bg-white p-20">
            <div class="row">
              <div class="form-group col-sm-12">
                <div class="row">
                  <div class="col-md-8">
                    <label>Orders needing Payment</label>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-floating btn-sm btn-warning">
                      10
                    </button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                    <label>Orders Processing</label>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-floating btn-sm btn-warning">
                      20
                    </button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-8">
                    <label>Messages</label>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-floating btn-sm btn-warning">
                      15
                    </button>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-12 col-md-12 col-xs-12 info-panel">
        <div class="panel panel-bordered">
          <div class="panel-heading">
            <h4>Top Sellers</h4>
          </div>
          <div class="panel-body">


           <div class="form-group col-md-12">
                <% 4.times do %>
                  <div class="row">
                    <div class="col-md-12">
                      <label><%=  Faker::Company.name %></label>
                    </div>

                  </div>
                <% end %>
              </div>
          </div>
         </div>
      </div>

      <!-- second Row -->
      <div class="col-ms-12 col-xs-12 col-md-12" id="ecommerceChartView" style="display:none">
        <div class="card card-shadow">
          <div class="card-header card-header-transparent p-y-20">
            <div class="btn-group dropdown">
              <a href="#" class="text-body dropdown-toggle blue-grey-700" data-toggle="dropdown">PRODUCTS SALES</a>
              <div class="dropdown-menu animate" role="menu">
                <a class="dropdown-item" href="#" role="menuitem">Sales</a>
                <a class="dropdown-item" href="#" role="menuitem">Total sales</a>
                <a class="dropdown-item" href="#" role="menuitem">profit</a>
              </div>
            </div>
            <ul class="nav nav-pills nav-pills-rounded chart-action">
              <li class="nav-item"><a class="active nav-link" data-toggle="tab" href="#scoreLineToDay">Day</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scoreLineToWeek">Week</a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#scoreLineToMonth">Month</a></li>
            </ul>
          </div>
          <div class="widget-content tab-content bg-white p-20">
            <div class="ct-chart tab-pane active" id="scoreLineToDay"></div>
            <div class="ct-chart tab-pane" id="scoreLineToWeek"></div>
            <div class="ct-chart tab-pane" id="scoreLineToMonth"></div>
          </div>
        </div>
      </div>
      <!-- End Second Row -->
      <!-- Third Row -->
      <!-- Third Left -->
      <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12" id="ecommerceRecentOrder" style="display:none">
        <div class="card card-shadow table-row">
          <div class="card-header card-header-transparent p-y-20">
            <div class="btn-group dropdown">
              <a href="#" class="text-body dropdown-toggle blue-grey-700" data-toggle="dropdown">RECENT ORDER</a>
              <div class="dropdown-menu animate" role="menu">
                <a class="dropdown-item" href="#" role="menuitem">Sales</a>
                <a class="dropdown-item" href="#" role="menuitem">Total sales</a>
                <a class="dropdown-item" href="#" role="menuitem">profit</a>
              </div>
            </div>
          </div>
          <div class="card-block bg-white table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Product</th>
                <th>Customer</th>
                <th>Purchased On</th>
                <th>Status</th>
                <th>Tracking No#</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>iMac</td>
                <td>Russell</td>
                <td>22/08/2017</td>
                <td>
                  <span class="tag tag-success font-weight-100">Paid</span>
                </td>
                <td>#98BC85SD84</td>
              </tr>
              <tr>
                <td>iPhone</td>
                <td>Carol</td>
                <td>15/07/2017</td>
                <td>
                  <span class="tag tag-warning font-weight-100">Pending</span>
                </td>
                <td>#98SA3C9SC</td>
              </tr>
              <tr>

                <td>Apple Watch</td>
                <td>Austin Pena</td>
                <td>10/07/2017</td>
                <td>
                  <span class="tag tag-success font-weight-100">Paid</span>
                </td>
                <td>#98BC85SD84</td>
              </tr>
              <tr>
                <td>Mac Mouse</td>
                <td>Randy</td>
                <td>22/04/2017</td>
                <td>
                  <span class="tag tag-default font-weight-100">Failed</span>
                </td>
                <td>#98SA3C9SC</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- End Third Left -->


      <!-- Third Right -->
      <div class="col-xl-4 col-lg-4 col-md-12 col-xs-12" id="ecommerceRevenue" style="display:none">
        <div class="card card-shadow text-xs-center p-t-10">
          <h3 class="card-header card-header-transparent blue-grey-700 font-size-14 m-t-0">REVENUE</h3>
          <div class="card-block bg-white">
            <div class="ct-chart barChart"></div>
            <div class="pie-view row">
              <div class="col-lg-6 col-sm-6 col-xs-6 pie-left text-xs-center">
                <h5 class="blue-grey-500 font-size-14 font-weight-100">GROS REVENUE</h5>
                <p class="font-size-20 blue-grey-700">
                  9,362,74
                </p>
                <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                     data-valuemin="0" data-barcolor="#a58add" data-size="100" data-barsize="4"
                     data-goal="60" aria-valuenow="60" role="progressbar">
                  <span class="pie-progress-number">60%</span>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6 col-xs-6 pie-right text-xs-center">
                <h5 class="blue-grey-500 font-size-14 font-weight-100">NET REVENUE</h5>
                <p class="font-size-20 blue-grey-700">
                  6,734,58
                </p>
                <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                     data-valuemin="0" data-barcolor="#77d6e1" data-size="100" data-barsize="4"
                     data-goal="78" aria-valuenow="78" role="progressbar">
                  <span class="pie-progress-number">78%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Third Right -->

      <!-- End Third Row -->
    </div>
  </div>
</div>
<!-- End Page -->
<%= render "shared/platform/footer" %>

<!--<script src="../../assets/examples/js/dashboard/ecommerce.js"></script>-->
</body>
