<% content_for :title, "Settings" %>
<% content_for :main_menu, Hingeto::Section::PRODUCTS %>
<% content_for :inner_menu, Hingeto::Section::INVENTORY %>
<body class="animsition page-aside-static page-aside-left">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "retailer/shared/side_menu" %>
<%= render "shared/grid_menu" %>

<div class="page">
  <%#= render "retailer/products/shared/menu" %>
  <div class="page-main">
    <div class="page-header">
      <h1 class="page-title">Settings</h1>
    </div>
    <%= render :partial=>"shared/alerts" %>

    <div class="page-content">

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Shipping & Handling</h3>
        </div>
        <div class="panel-body">
          <% @brand = OpenStruct.new %>
          <%= form_for("brand", :url => {:controller => "settings", :action => "index"}) do |f| %>

              <div class="row">

                <div class="form-group col-sm-12">
                  <div class="checkbox-custom checkbox-default">
                    <input type="checkbox" id="inputAgree" name="inputAgree" checked="" autocomplete="off">
                    <label for="inputCheckboxAgree">Offer free shipping for all my products</label>
                  </div>
                </div>

                <div class="form-group col-sm-12">
                  <div class="checkbox-custom checkbox-default">
                    <input type="checkbox" id="inputAgree" name="inputAgree" checked="" autocomplete="off">
                    <label for="inputCheckboxAgree">Use PacSun's shipping account</label>
                  </div>
                </div>

              </div>


              <div class="form-group">
                <button type="submit" class="btn btn-primary">Update S&H settings</button>
              </div>
          <% end %>

        </div>
      </div>



    </div>

  </div>
</div>
<%= render "shared/platform/footer" %>
</body>