<% content_for :title, "Unsubscribed" %>
<%# content_for :main_menu, Hingeto::Section::PRODUCTS %>
<%# content_for :inner_menu, Hingeto::Section::MY_FAVORITES %>
<body class="animsition page-aside-static page-aside-left">
  <%= render "shared/outdated_browser" %>
  <%= render "shared/nav_bar" %>
  <%= render "retailer/shared/side_menu" %>
  <%= render "shared/grid_menu" %>


  <div class="page">
    <div class="page-main">

      <div class="page-content">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Unsubscribed</h3>
          </div>
          <div class="panel-body">
            <%#= render "retailer/products/shared/favorite_list" %>
            <div class="row">
              <div class="col-lg-12">
                <nav>
                  <span class="m-l-15 font-weight-400">You have successfully Unsubscribed from this TeamUp notification email. To resubscribe in the future, please email <%= ENV['SUPPORT_EMAIL'] %>. Thank you!</span>
                  <span class="font-size-40 font-weight-100"><%= link_to "Click here to return to the Dashboard.", retailer_dashboard_path %></span>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%= render "shared/platform/footer" %>
</body>
