<% content_for :title, "Settings" %>
<% content_for :main_menu, Hingeto::Section::SETTINGS %>
<% content_for :inner_menu, Hingeto::Section::PASSWORD %>
<body class="animsition page-aside-static page-aside-left">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "retailer/shared/side_menu" %>
<%#= render "shared/grid_menu" %>


<div class="page">
  <%#= render "retailer/settings/shared/menu" %>
  <div class="page-main">
    <%#= render "shared/temporary_password_warning" %>

    <div class="page-header">
      <h1 class="page-title">My Account</h1>
    </div>

    <div class="page-content">
      <div class="row">
        <%= render :partial=>"shared/alerts" %>
      </div>
      <%= render 'retailer/settings/my_account/block/change_password' %>

    </div>

  </div>
</div>
<%= render "shared/platform/footer" %>
</body>
