<div class="page-aside">
  <div class="page-aside-switch">
    <i class="icon wb-chevron-left" aria-hidden="true"></i>
    <i class="icon wb-chevron-right" aria-hidden="true"></i>
  </div>
  <div class="page-aside-inner page-aside-scroll">
    <div data-role="container">
      <div data-role="content">
        <section class="page-aside-section">
          <h5 class="page-aside-title">Settings</h5>
          <div class="list-group">
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::ADDRESSES) %>" href="/retailer/settings/addresses"><i class="icon fa-building" aria-hidden="true"></i>Address</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::TEAM) %>" href="/retailer/settings/team"><i class="icon wb-users" aria-hidden="true"></i>Team</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::PAYMENTS) %>" href="/retailer/payments"><i class="icon fa-credit-card" aria-hidden="true"></i>Payments Methods</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::ORDERS) %>" href="/retailer/settings/orders"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>Orders</a>
            <!--<a class="list-group-item <#%= check_if_active_css(yield(:inner_menu), Hingeto::Section::TEAM) %>" href="/retailer/reseller-agreements/">-->
              <!--<i class="icon wb-users" aria-hidden="true"></i>Reseller Agreement-->
            <!--</a>-->
            <!-- <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::REPORTING) %>" href="/settings/reporting"><i class="icon fa-money" aria-hidden="true"></i>Reporting</a> -->
          </div>
        </section>
        <!--<section class="page-aside-section">-->
          <!--<h5 class="page-aside-title">Filter</h5>-->
          <!--<div class="list-group">-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-image" aria-hidden="true"></i>Images</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-volume-high" aria-hidden="true"></i>Audio</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-camera" aria-hidden="true"></i>Video</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-file" aria-hidden="true"></i>Notes</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-link-intact" aria-hidden="true"></i>Links</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-order" aria-hidden="true"></i>Files</a>-->
          <!--</div>-->
        <!--</section>-->
      </div>
    </div>
  </div>
  <!---page-aside-inner-->
</div>
