<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
            data-toggle="menubar">
      <span class="sr-only">Toggle navigation</span>
      <span class="hamburger-bar"></span>
    </button>
    <!--<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">-->
    <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" style='padding: 15px 10px 10px 30px'>
      <!--<span class="navbar-brand-text hidden-xs-down"> Hingeto</span>-->
      <!--<img class="navbar-brand-logo" src="/assets/pacsun-svg.svg" alt="Hingeto" width="150px">-->
      <%= image_tag 'teamup-horizontal.png',
                    class:'img-responsive',
                    style: "",
                    width: '160px', height: '34px' %>
    </div>

  </div>
  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
      <!-- Navbar Toolbar -->
      <ul class="nav navbar-toolbar">
        <li class="nav-item hidden-float" id="toggleMenubar">
          <!--<a class="nav-link" data-toggle="menubar" href="#" role="button">-->
            <!--<i class="icon hamburger hamburger-arrow-left">-->
              <!--<span class="sr-only">Toggle menubar</span>-->
              <!--<span class="hamburger-bar"></span>-->
            <!--</i>-->
          <!--</a>-->
        </li>
      </ul>
      <!-- End Navbar Toolbar -->
      <!-- Navbar Toolbar Right -->
      <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link navbar-avatar <%= 'dark-blue-bg' if true_spree_user.present? && true_spree_user != current_spree_user %>" data-toggle="dropdown" href="#" aria-expanded="false"
             data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <%= image_tag 'placeholders/avatar.png', alt:'...' %>
                <i></i>
              </span>
          </a>
          <div class="dropdown-menu scrollable-dropdown" role="menu">
            <%= content_tag :span, class:"dropdown-item bg-success", role: "menuitem" do %>
              <i class="icon fa fa-cogs" aria-hidden="true"></i> Current Team: <strong><%= current_spree_user.team_member.teamable.name %></strong></a>
            <% end %>
            <div class="dropdown-divider" role="presentation"></div>

            <% if current_spree_user.present? && current_spree_user.hingeto_user? %>
              <%= link_to '/active/admin', class:"dropdown-item", role: "menuitem", target: '_blank' do %>
                <i class="icon fa fa-cogs" aria-hidden="true"></i> Admin Interface</a>
              <% end %>

                <%= link_to "/active/admin/spree_#{@team_type}s/#{@team.slug}", class:"dropdown-item", role: "menuitem", target: '_blank' do %>
                    <i class="icon fa fa-cogs" aria-hidden="true"></i><%=@team_type.titleize %> Profile</a>
                <% end %>

                <div class="dropdown-divider" role="presentation"></div>

            <% end %>



            <%= link_to '/retailer/settings/addresses', class:"dropdown-item", role: "menuitem" do %>
                <i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
            <% end %>

            <% if current_spree_user.team_members.count > 1 %>
              <% current_spree_user.team_members.each do |team_member| %>
                <% next if team_member.id == current_spree_user.team_member.id %>
                <div class="dropdown-divider" role="presentation"></div>
                <%= link_to "/profile/switch-team/#{team_member.internal_identifier}", class:"dropdown-item", role: "menuitem", method: :patch do %>
                    <i class="icon far fa-share-square" aria-hidden="true"></i>Switch to <%= team_member.teamable.name %></a>
                <% end %>
              <% end %>
            <% end %>

            <div class="dropdown-divider" role="presentation"></div>
            <% if true_spree_user.present? && true_spree_user != current_spree_user %>
                <%= link_to stop_impersonating_impersonation_index_path, class: "dropdown-item bg-warning", role: "menuitem", method: :patch do %>
                    <i class="icon wb-power" aria-hidden="true"></i> Stop Impersonating <strong><%= current_spree_user.first_name %></strong>.
                <% end %>
            <% else %>
                <%= link_to destroy_spree_user_session_path, class: "dropdown-item", role: "menuitem" do %>
                    <i class="icon wb-power" aria-hidden="true"></i> Logout
                <% end %>
            <% end %>
          </div>
        </li>

        <%#= render 'shared/notifications' %>
        <%#= render 'shared/messages' %>

        <!--<li class="nav-item" id="toggleChat">-->
          <!--<a class="nav-link" data-toggle="site-sidebar" href="javascript:void(0)" title="Chat"-->
             <!--data-url="../site-sidebar.tpl">-->
            <!--<i class="icon wb-chat" aria-hidden="true"></i>-->
          <!--</a>-->
        <!--</li>-->
      </ul>
      <!-- End Navbar Toolbar Right -->
    </div>
    <!-- End Navbar Collapse -->
    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                    data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
