<%= content_for :skip_logo do 'false' end %>
  <%= content_for :banner do %>
      <%= image_tag "email/welcome_new.jpg", class: '100p', style: 'display:block;', alt: '', border: '0', usemap: '#Map' %>
  <% end %>
  <table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td style="padding: 2.5em 3em 0em; font-family: Arial, Helvetica, sans-serif; font-size:15px;color:#505050;line-height:22px;font-weight:400; width: 100%">
            <p>Hi <%= @first_name %>!</p>
            <p>Thanks for registering with TeamUp! We’ll help power your store by providing:</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; &#9679; Access to incredible product (including officially licensed merch) you won’t find anywhere else</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; &#9679; Wholesale pricing</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; &#9679; No upfront inventory or warehousing costs</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; &#9679; Quick ship times (most products ship from the US in 3-5 days)</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; &#9679; Real time inventory syncing</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; &#9679; And a whole lot more!</p>

            <p>Install the TeamUp app in Shopify <a href="<%= retailer_onboarding_url %>" >HERE</a> to start taking advantage of all this. If you need assistance, our support staff is an email away <a href="mailto:<%= @support_email %>"><%= @support_email %></a>!</p>
            <p>Thanks for teaming up with us! Now, let’s team up with some great suppliers and products.</p>

            <p>Happy Selling,</p>
            <!-- <p>The TeamUp Team</p> -->
         </td>
      </tr>
  </tbody >
  </table>
