<body class="animsition page-register-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Page -->
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">

    <div class="page-brand-info">
      <div class="logo-main">
        <%= image_tag 'dicentral-square-24px-blue.png', class:'img-responsive', style: "margin-bottom: 6px;" %>
        <p style="display: inline; font-size: 28px; opacity: 1">TeamUp</p>
      </div>

      <%= image_tag 'circuit-board.png', class: 'img-responsive' %>
    </div>
    <div class="page-register-main animation-slide-left animation-duration-1">
      <h3 class="font-size-24">Change Your Password</h3>
      <p>Choose a new password for your account</p>
      <%= render :partial=>"shared/alerts" %>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name),  method: :put, class: "login-form") do |f| %>
        <%= render "shared/devise_errors", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field form-group">
          <%= f.label :password, "New password" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit 'Change My Password', class: 'btn btn-primary form-button' %>
        </div>
      <% end %>

      <p>Not yet signed up? <%= link_to "Sign Up Now", root_path %></p>
      <p>Remember your password? <%= link_to "Sign In", new_spree_user_session_path %></p>
      <footer class="page-copyright">
        <p>powered by DiCentral <%= image_tag "dicentral-square-24px-blue.png", class:"img-responsive" %></p>
      </footer>
    </div>
  </div>
</div>
<!-- End Page -->
</body>
