<div class="page-aside">
  <div class="page-aside-switch">
    <i class="icon wb-chevron-left" aria-hidden="true"></i>
    <i class="icon wb-chevron-right" aria-hidden="true"></i>
  </div>
  <div class="page-aside-inner page-aside-scroll">
    <div data-role="container">
      <div data-role="content">
        <section class="page-aside-section">
          <h5 class="page-aside-title">Main</h5>
          <div class="list-group">
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::OVERVIEW) %>" href="/reporting/"><i class="icon wb-home" aria-hidden="true"></i>Overview</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::SALES_BY_DAY) %>" href="/reporting/sales_by_day"><i class="icon fa-bar-chart" aria-hidden="true"></i>Sales by Day</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::SALES_BY_MONTH) %>" href="/reporting/sales_by_month"><i class="icon fa-bar-chart" aria-hidden="true"></i>Sales by Month</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::SALES_BY_PRODUCT) %>" href="/reporting/sales_by_product"><i class="icon fa-bar-chart" aria-hidden="true"></i>Sales by Product</a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::SETTLEMENT) %>" href="/reporting/settlement"><i class="icon fa-bar-chart" aria-hidden="true"></i>Settlement</a>
          </div>
        </section>
        <!--<section class="page-aside-section">-->
          <!--<h5 class="page-aside-title">Filter</h5>-->
          <!--<div class="list-group">-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-image" aria-hidden="true"></i>Images</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-volume-high" aria-hidden="true"></i>Audio</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-camera" aria-hidden="true"></i>Video</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-file" aria-hidden="true"></i>Notes</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-link-intact" aria-hidden="true"></i>Links</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-order" aria-hidden="true"></i>Files</a>-->
          <!--</div>-->
        <!--</section>-->
      </div>
    </div>
  </div>
  <!---page-aside-inner-->
</div>