<% content_for :title, "Products | #{@product.propercase_name}" %>
<% content_for :main_menu, Hingeto::Section::PRODUCTS %>
<body class="animsition page-aside-static page-aside-left">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "supplier/shared/side_menu" %>
<%= render "shared/grid_menu" %>


<div class="page">
  <%#= render "supplier/products/shared/menu" %>
  <div class="page-main">
    <div class="page-header">
      <%= render "retailer/products/shared/credit_card_alert" %>
      <div class='ajax-alert'>
        <%= render :partial=>"shared/alerts" %>
      </div>
      <h1 class="page-title">Product Details</h1>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-md-8">

          <div class="panel <%= panel_status_from_submission(@product) %>">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @product.submission_state.titleize %></h3>
            </div>
            <div class="panel-body">
              <br>
              <div class="row product-details margin-bottom">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= label_tag :title %>
                    <%= text_field_tag :name, @product.name, class: 'form-control', readonly: true %>
                  </div>
                  <div class="form-group">
                    <%= label_tag :description %>
                    <%= text_area_tag :description, @product.description, class: 'form-control ckeditor', style: "height: 15em" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title">Compliance</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>Eligible For Approval?</h4>
                    <%= check_box_tag :eligible_for_approval, 1, @product.eligible_for_approval?, disabled: true %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>Eligibility Reason</h4>
                    <p><em><%= @product.eligibility_reasoning %></em></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>
                      Submission Compliant
                      <%= check_box_tag :submission_compliant, 1, @product.submission_compliant, disabled: true %>
                    </h4>
                    <p><em><%= @product.submission_compliance_log %></em></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <h4>
                      Marketplace Compliant
                      <%= check_box_tag :marketplace_compliant, 1, @product.marketplace_compliant, disabled: true %>
                    </h4>
                    <p><em><%= @product.marketplace_compliance_log %></em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <% if @product.shopify_identifier.present? %>
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">Shopify Properties</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= label_tag 'Shopify Identifier' %>
                      <%= text_field_tag :shopify_identifier, @product.shopify_identifier, class: 'form-control', readonly: true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= label_tag 'License Name' %>
                      <%= text_field_tag :license_name, @product.license_name, class: 'form-control', readonly: true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= label_tag 'Available On' %>
                      <%= text_field_tag :available_on, @product.available_on, class: 'form-control', readonly: true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= label_tag 'Discountinued On' %>
                      <%= text_field_tag :discontinue_on, @product.discontinue_on, class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <% if @product.dsco_identifier.present? %>
            <div class="panel">
              <div class="panel-heading">
                <h3 class="panel-title">DSCO Properties</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= label_tag 'DSCO Identifier' %>
                      <%= text_field_tag :dsco_identifier, @product.dsco_identifier, class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <div class="panel">
            <h3 class="panel-title">Images</h3>
            <div class="panel-body">
              <div class="row product-details margin-bottom">
                <div class="col-md-12">
                  <% if @product.images.present? %>
                    <div class='row'>
                      <div class='col-sm-12'>
                        <div class='row'>

                          <% @product.images.each_with_index do |image, index| %>
                              <% break if index > 5 %>
                              <div class='col-sm-3'>
                                <div class="example-wrap">
                                  <div class="example">
                                    <figure class="overlay overlay-hover">
                                      <%= image_tag (image.attachment.url(:large) || 'noimage/product.png'), class: 'overlay-figure' %>
                                      <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                                        <i class="icon wb-eye open-image-preview"  aria-hidden="true"  data-toggle="modal" data-target="#image-preview-modal"  data-src="<%= image.attachment.url(:large) %>"></i>
                                      </figcaption>
                                    </figure>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <h6> No Images </h6>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <% if @product.no_variant? %>
            <div class="panel">
              <h3 class="panel-title">Inventory</h3>
              <div class="panel-body">
                <div class="row product-details margin-bottom">
                  <div class="col-md-12">
                    <div class='row'>
                      <div class='col-sm-6 form-group'>
                        <%= label_tag :sku, "SKU" %>
                        <%= text_field_tag :sku, @product.default_variant.original_supplier_sku, class: 'form-control' %>
                      </div>
                      <div class='col-sm-6 form-group'>
                        <%= label_tag :barcode %>
                        <%= text_field_tag :barcode, @product.default_variant.barcode, class: 'form-control' %>
                      </div>
                    </div>
                    <div class='row'>
                      <div class='col-sm-2 form-group'>
                        <%= label_tag :quantity %>
                        <%= number_field_tag :quantity, @product.default_variant.count_on_hand, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
          <div class="panel">
            <h3 class="panel-title">Variants</h3>
            <div class="panel-body">
              <div class="row product-details margin-bottom">
                <div class='col-sm-12'>
                  <div class='row'>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th style="width: 10%"></th>
                          <th>SKU</th>
                          <th>Category</th>
                          <th>Color</th>
                          <th>Size</th>
                          <th>Inventory</th>
                          <th>Price</th>
                          <th>Discontinue On</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @product.variants.each_with_index do |variant, index| %>
                          <tr style="line-height: 3.7em">
                            <td ><%= image_tag((variant.listing_image || 'noimage/product.png'), style: "width: 50%") %></td>
                            <td><%= variant.original_supplier_sku %></td>
                            <td><%= variant.supplier_category_value %></td>
                            <td><%= variant.supplier_color_value %></td>
                            <td><%= variant.supplier_size_value %></td>
                            <td><%= variant.count_on_hand %></td>
                            <td><%= number_to_currency(variant.master_cost) %></td>
                            <td><%= variant.discontinue_on %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
            <!--
              <button type="button" class="btn btn-block btn-success">Save Changes</button>
              <br>
              <button type="button" class="btn btn-block btn-danger">Delete</button>
              -->
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<%= render "supplier/products/components/image_preview_modal" %>

<div class='order-payments-modals'>
  <%= render "shared/platform/footer" %>
</div>
</body>
