<% content_for :title, "Reports" %>
<% content_for :main_menu, Hingeto::Section::REPORTING %>
<% content_for :inner_menu, Hingeto::Section::OVERVIEW %>
<body class="animsition page-aside-static page-aside-left">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "shared/side_menu" %>
<%= render "shared/grid_menu" %>

<div class="page">
  <%= render "reporting/shared/menu" %>
  <div class="page-main">
    <div class="page-header">
      <h1 class="page-title">Overview</h1>
    </div>
    <%= render :partial=>"shared/alerts" %>

    <div class="page-content">

      <div class="panel">


        <div class="panel-body">
          <p>We currently provide reporting on the following</p>
          <ul>
            <li>Sales By Product</li>
            <li>Sales By Day</li>
            <li>Sales By Month</li>
            <li>Settlements</li>
          </ul>
        </div>
      </div>



    </div>

  </div>
</div>
<%= render "shared/platform/footer" %>
</body>