<table width="100%" bgcolor="#ffffff" align="center" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
    <td colspan="7" height="30">
    </td>
  </tr>
  <tr>
    <td width="6%">
    </td>
    <td>
      <p>Hello,</p>
      <p>The following orders from 2017 - 2018 that were not fulfilled by the supplier have been fully refunded. You can expect the balance to show in your bank in 5-10 business days at most. <br/><br/>Typically, it shows up in no more than 3 business days.</p>

      <table border="1" cellspacing="0" cellpadding="5" width="100%">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Total</th>
            <th>Order Items</th>
            <th>Order Date/Time</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to (order.retailer_shopify_name || '#––––'), retailer_order_details_url(id: order.internal_identifier) %></td>
              <td><%= number_to_currency(order.payments.sum(:amount)) %></td>
              <td><%= order.variants.map(&:name).join(', ') %></td>
              <td><%= order.completed_at.strftime('%m-%d-%Y %H:%M') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
    <td width="6%">
    </td>
  </tr>
  <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
  <tr>
    <td width="6%">
    </td>
    <td style="background-color:#4f4dfc; text-align:center;border-radius: 3px; color:#fff; font-family: 'Montserrat', sans-serif; font-size:16px; padding: 20px 0px;">
      <a href="<%= retailer_orders_url %>" target="_blank" style="color: #fff; text-decoration: none; font-weight: 600; display: block;">VIEW ORDERS</a>
    </td>
    <td width="6%">
    </td>
  </tr>

  <tr>
    <td colspan="2" height="30">
    </td>
  </tr>
  </tbody >
</table>
