
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#policies" role="tab" aria-expanded="true">Policies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#faq" role="tab">FAQ's</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active with-margin-top" id="policies" role="tabpanel" aria-expanded="true">
    <p><%= Faker::Lorem.paragraph(10) %></p>
    <p><%= Faker::Lorem.paragraph(10) %></p>
    <p><%= Faker::Lorem.paragraph(10) %></p>
  </div>
  <div class="tab-pane with-margin-top" id="faq" role="tabpanel">
    <p><%= Faker::Lorem.paragraph(10) %></p>
    <p><%= Faker::Lorem.paragraph(10) %></p>
    <p><%= Faker::Lorem.paragraph(10) %></p>
  </div>

</div>

