<% content_for :title, "Bulk Upload" %>
<% content_for :main_menu, Hingeto::Section::BULK_UPLOAD %>
<% content_for :inner_menu, Hingeto::Section::OVERVIEW %>
<body class="animsition page-aside-static page-aside-left">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "shared/side_menu" %>
<%= render "shared/grid_menu" %>

<div class="page">
  <%= render "bulk_upload/shared/menu" %>
  <div class="page-main">
    <div class="page-header">
      <h1 class="page-title">Overview</h1>
    </div>
    <%= render :partial=>"shared/alerts" %>

    <div class="page-content">
      <div class="panel">
        <div class="panel-body">
          <p>We currently enable vendors to bulk upload</p>
          <ul>
            <li>Product</li>
            <li>Inventory</li>
            <li>Shipments</li>
            <li>Invoices</li>
          </ul>
          <p>We currently only accept XLS. We will soon support</p>
          <ul>
            <li>Tab Limited</li>
            <li>CSV</li>
            <li>EDI (Only for POs)</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<%= render "shared/platform/footer" %>
</body>