<div class="panel credential-form-div">
    <div class="panel-body">

      <% if flash[:errors] %>
        <div class="alert dark alert-icon alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="icon fa-gear" aria-hidden="true"></i>
          <% flash[:errors].each do |error| %>
            <%= error.join(" ") %></br>
          <% end %>
        </div>
      <% end %>

      <h4>Enter Your Private App Credentials</h4>
      <p>Connect to your shopify store by following these <a data-target="#shopifyInstructions" data-toggle="modal" href="javascript:void(0)">instructions</a>. This will allow you to sync your product catalog with us as well as send you, orders directly.</p>

      <%= form_for([:supplier, @shopify_credential], :url => {:controller => "integrations", :action => "update_shopify"}) do |f| %>
          <%= hidden_field_tag :supplier_id, @shopify_credential.teamable_id %>
          <%= f.hidden_field :kind, value: 'credential' %>
          <div class="row">
            <div class="form-group col-sm-12">
              <%= f.label :api_key, "API Key", class: "control-label" %>
              <%#= f.text_field :name, class:"form-control", autocomplete: "off", :placeholder => "Store Name", :readonly => true %>
              <%= f.text_field :api_key, class:"form-control", autocomplete: "off", :placeholder => "e.g 3adff10aaf325e6a53c557baa3a06764", required: "required" %>
            </div>
            <div class="form-group col-sm-12">
              <%= f.label :password, "API Password", class: "control-label" %>
              <%= f.password_field :password, class:"form-control", autocomplete: "off",
                                   :placeholder => "e.g. 219c0fe04fab337c0481c088b9b17e02", required: "required", :value => @shopify_credential.password
              %>
            </div>

            <div class="form-group col-sm-12">
              <%= f.label :shared_secret, "Shared Secret", class: "control-label" %>
              <%= f.text_field :shared_secret, class:"form-control", autocomplete: "off", :placeholder => "e.g. 525d1faea43551273cc4159c838905de", required: "required" %>
            </div>

            <div class="form-group col-sm-12">
              <%= f.label :store_url, "Shopify Store Url", class: "control-label" %>
              <%= f.text_field :store_url, class:"form-control", autocomplete: "off", :placeholder => "e.g. my-store.myshopify.com" %>
            </div>
          </div>


          <div class="form-group">
            <%= f.submit "#{@shopify_credential.new_record?  ? 'Connect To Shopify' : 'Update Shopify Settings'}",class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
