<% content_for :title, "Dashboard " %>
<% content_for :main_menu, Hingeto::Section::HOME %>

<body class="animsition ecommerce_dashboard">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "retailer/shared/side_menu" %>
<%= render "shared/grid_menu" %>

<!-- Page -->
<div class="page">
  <div class="page-header">
    <!--<h1 class="page-title font-size-26 font-weight-100">Ecommerce Overview</h1>-->
  </div>

  <div class="page-content container-fluid">

    <%= render "shared/credit_card_check" %>

    <%= render :partial=>"shared/alerts" %>

    <%#= render "shared/time_period" %>

    <div class="row" data-plugin="matchHeight" data-by-row="true">

      <!-- First Row -->
      <div class="col-xl-4 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <a href=<%= retailer_orders_path %>>
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-warning">
                <i class="icon wb-order"></i>
              </button>
              <span class="m-l-15 font-weight-400">ORDERS</span>
              <div class="content-text text-xs-center m-b-0">
                <span class="font-size-40 font-weight-100"><%= @orders.count %></span>
                <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <a href=<%= retailer_orders_path %>>
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-danger">
                <i class="icon fa-dollar"></i>
              </button>
              <span class="m-l-15 font-weight-400">REVENUE</span>
              <div class="content-text text-xs-center m-b-0">
                <span class="font-size-40 font-weight-100"><%= number_to_currency @order_total %></span>
                <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <a href=<%= retailer_live_products_path %>>
            <div class="card-block bg-white p-20">
              <button type="button" class="btn btn-floating btn-sm btn-success">
                <i class="icon wb-tag"></i>
              </button>
              <span class="m-l-15 font-weight-400">PRODUCTS</span>
              <div class="content-text text-xs-center m-b-0">
                <span class="font-size-40 font-weight-100"><%= @product_listings.count %></span>
                <!--<p class="blue-grey-400 font-weight-100 m-0">+25% From previous month</p>-->
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- End First Row -->
       <div class="col-xl-4 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <a href="/retailer/dashboard/out_of_stock">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-warning">
              <i class="icon wb-arrow-left"></i>
            </button>
            <span class="m-l-15 font-weight-400">OUT OF STOCK</span>
            <div class="content-text text-xs-center m-b-0">
              <span class="font-size-40 font-weight-100"><%= @out_stock_product_total %></span>
              <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <a href="/retailer/dashboard/back_in_stock">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-success">
              <i class="icon wb-arrow-right"></i>
            </button>
            <span class="m-l-15 font-weight-400">BACK IN STOCK</span>
            <div class="content-text text-xs-center m-b-0">
              <span class="font-size-40 font-weight-100"><%= @back_stock_product_total %></span>
              <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-xs-12 info-panel">
        <div class="card card-shadow">
          <a href="/retailer/dashboard/deactivated_products">
          <div class="card-block bg-white p-20">
            <button type="button" class="btn btn-floating btn-sm btn-danger">
              <i class="icon wb-lock"></i>
            </button>
            <span class="m-l-15 font-weight-400">DEACTIVATED PRODUCTS</span>
            <div class="content-text text-xs-center m-b-0">
              <span class="font-size-40 font-weight-100"><%= @deactivated_products %></span>
              <!--<p class="blue-grey-400 font-weight-100 m-0">+45% From previous month</p>-->
            </div>
          </div>
          </a>
        </div>
      </div>


      <!--<div class="col-xl-12 col-md-12 col-xs-12 info-panel">-->
        <!--<div class="alert dark alert-icon alert-danger alert-dismissible" role="alert">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--<span aria-hidden="true">×</span>-->
          <!--</button>-->
          <!--<i class="icon wb-tag" aria-hidden="true"></i> 12 products have errors that need your attention.-->
          <!--<p class="m-t-15">-->
            <!--<button class="btn btn-danger btn-inverse" type="button">View Products</button>-->
            <!--&lt;!&ndash;<button class="btn btn-link blue-grey-500" type="button">Or this</button>&ndash;&gt;-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xl-12 col-md-12 col-xs-12 info-panel">-->
        <!--<div class="alert dark alert-icon alert-warning alert-dismissible" role="alert">-->
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--<span aria-hidden="true">×</span>-->
          <!--</button>-->
          <!--<i class="icon wb-order" aria-hidden="true"></i> 31 Orders need to be shipped!-->
          <!--<p class="m-t-15">-->
            <!--<button class="btn btn-danger btn-inverse" type="button">View Orders</button>-->
            <!--&lt;!&ndash;<button class="btn btn-link blue-grey-500" type="button">Or this</button>&ndash;&gt;-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</div>
<% if params[:modal] == 'show' %>
<div class="modal fade in" id="buildProducts" aria-hidden="true" aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" style="text-align: center">Build Your Business with BioHinge</h4>
      </div>
      <div class="modal-body">
        <div class="bordered" style="min-height: 20em;">
        </div>
        <div class="bordered" style="min-height: 2em;">
          <div class="row">
            <div class="col-md-1 col-lg-1 col-sm-1">
              <i class="icon wb-play" aria-hidden="true"></i>
            </div>
            <div class="col-md-9 col-lg-9 col-sm-9">
              <div class="progress progress-xs" style="margin-top: 0.7em;"">
                <div class="progress-bar progress-bar-success" style="width: 30%;" role="progressbar">
                  <span class="sr-only">30% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 ">
              <i class="icon wb-volume-high" aria-hidden="true"></i>
              <i class="icon wb-fullscreen" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary">Find Your First Products</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- End Page -->
<%= render "shared/platform/footer" %>

<!--<script src="../../assets/examples/js/dashboard/ecommerce.js"></script>-->
</body>
