<% content_for :title, "Invoices" %>
<% content_for :main_menu, Hingeto::Section::INVOICES %>
<% content_for :inner_menu, Hingeto::Section::SUBSCRIPTION %>
<body class="animsition page-aside-static page-aside-left">
<%= render "shared/outdated_browser" %>
<%= render "shared/nav_bar" %>
<%= render "retailer/shared/side_menu" %>
<%= render "shared/grid_menu" %>

<div class="page">
   <%= render "retailer/invoices/shared/menu" %>
  <div class="page-main">
    <div class="page-header">
      <h1 class="page-title">Invoices</h1>
    </div>

    <div class="page-content">
      <%= render :partial=>"shared/alerts" %>

      <div class="panel nav-tabs-horizontal" data-plugin="tabs">
        <div class="panel-heading">
          <h3 class="panel-title">Subscriptions Invoices</h3>
        </div>
        <div class="panel-body">
          <%= render partial: "retailer/invoices/shared/subscriptions_table" %>
        </div>
      </div>
    </div>

  </div>
</div>
<%= render "shared/platform/footer" %>
</body>
