<div class="page-aside">
  <div class="page-aside-switch">
    <i class="icon wb-chevron-left" aria-hidden="true"></i>
    <i class="icon wb-chevron-right" aria-hidden="true"></i>
  </div>
  <div class="page-aside-inner page-aside-scroll">
    <div data-role="container">
      <div data-role="content">
        <section class="page-aside-section">
          <h5 class="page-aside-title">Main</h5>
          <div class="list-group">
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::OVERVIEW) %>" href="/bulk_upload/"><i class="icon wb-home" aria-hidden="true"></i>Overview</a>
            <!--<a class="list-group-item <%# check_if_active_css(yield(:inner_menu), Hingeto::Section::BULK_ORDER_UPLOAD) %>" href="/bulk_upload/order"><i class="icon wb-order" aria-hidden="true"></i>Upload Orders <%= render partial: "shared/pills/retailer_pill" %></a>-->
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::BULK_INVENTORY_UPLOAD) %>" href="/bulk_upload/inventory"><i class="icon wb-book" aria-hidden="true"></i>Upload Inventory </a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::BULK_PRODUCT_UPLOAD) %>" href="/bulk_upload/product"><i class="icon wb-tag" aria-hidden="true"></i>Upload Products </a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::BULK_SHIPMENT_UPLOAD) %>" href="/bulk_upload/shipment"><i class="icon fa-truck" aria-hidden="true"></i>Upload Shipments </a>
            <a class="list-group-item <%= check_if_active_css(yield(:inner_menu), Hingeto::Section::BULK_INVOICE_UPLOAD) %>" href="/bulk_upload/invoice"><i class="icon fa-truck" aria-hidden="true"></i>Upload Invoices </a>
          </div>
        </section>
        <!--<section class="page-aside-section">-->
          <!--<h5 class="page-aside-title">Filter</h5>-->
          <!--<div class="list-group">-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-image" aria-hidden="true"></i>Images</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-volume-high" aria-hidden="true"></i>Audio</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-camera" aria-hidden="true"></i>Video</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-file" aria-hidden="true"></i>Notes</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-link-intact" aria-hidden="true"></i>Links</a>-->
            <!--<a class="list-group-item" href="javascript:void(0)"><i class="icon wb-order" aria-hidden="true"></i>Files</a>-->
          <!--</div>-->
        <!--</section>-->
      </div>
    </div>
  </div>
  <!---page-aside-inner-->
</div>