<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Update Retailer Information</h3>
  </div>
  <div class="panel-body">

    <%= form_for(current_retailer, :url => { :action => "update_retailer_account" }) do |f| %>

        <%= render "shared/devise_errors", resource: current_spree_user %>

        <div class="row">

          <div class="form-group col-sm-8">
            <br>
            <div class="field">
              <%= f.label :name, "Retailer Name" %><br />
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="action_container">
            <%= f.submit "Update Account", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>

  </div>
</div>
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Update Account Information</h3>
  </div>
  <div class="panel-body">

    <%= form_for(current_spree_user, :url => { :action => "update_account" }) do |f| %>

        <%= render "shared/devise_errors", resource: current_spree_user %>

        <div class="row">

          <div class="form-group col-sm-8">
            <br>
            <div class="field">
              <%= f.label :email, "Current Email" %><br />
              <%= f.text_field :email, class: "form-control" %>
            </div>
          </div>
          <div class="form-group col-sm-8">
            <div class="field">
              <%= f.label :first_name, "First name" %><br />
              <%= f.text_field :first_name, :autocomplete => "off", class: "form-control"  %>
            </div>
          </div>
          <div class="form-group col-sm-8">
            <div class="field">
              <%= f.label :last_name, "Last Name" %><br />
              <%= f.text_field :last_name, :autocomplete => "off", class: "form-control"  %>
            </div>
          </div>

        </div>

        <div class="form-group">
          <div class="action_container">
            <%= f.submit "Update Account", class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>

  </div>
</div>