<!DOCTYPE html>
<html>
  <head>
    <title>Supply</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('teamup-square-24px.png') %>
    <link rel="apple-touch-icon" href="/favicon.png">

    <%= render 'layouts/shared/segment' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
